<!-- component -->
<div class="text-gray-900 bg-gray-200">
    <div class="p-4 flex">
        <h1 class="text-3xl">
            Relação de chamados
        </h1>
    </div>
    <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
            <tbody>
                <tr class="border-b">
                    <th class="text-left p-3 px-5">Nome</th>
                    <th class="text-left p-3 px-5">E-mail</th>
                    <th class="text-left p-3 px-5">Motivo do contato</th>
                    <th></th>
                </tr>
                <ng-content></ng-content>                
                
            </tbody>
        </table>
    </div>
</div>