<div
  class="container mx-auto my-[25dvh] w-4/5 rounded-lg shadow h-3/5 p-6 bg-slate-200 relative overflow-hidden"
>
  <div class="flex flex-col justify-center items-center space-y-2">
    <h2 class="text-2xl font-medium text-slate-700">Boas-vindas</h2>
    
  </div>
  <form class="w-full mt-4 space-y-3">
    <div>
      <input
        class="outline-none border-2 rounded-md px-2 py-1 text-slate-500 w-full focus:border-blue-300"
        placeholder="Insira seu e-mail"
        id="username"
        name="username"
        type="text"
      />
    </div>
    <div>
      <input
        class="outline-none border-2 rounded-md px-2 py-1 text-slate-500 w-full focus:border-blue-300"
        placeholder="Insira sua senha"
        id="password"
        name="password"
        type="password"
      />
    </div>
    <div class="flex items-center justify-end">
      
      <label class="flex cursor-pointer items-center justify-between p-1 text-slate-400 gap-x-4.5">
        Logar automaticamente
        <div class="relative inline-block">
          <input class="peer h-6 w-12 cursor-pointer appearance-none
           rounded-full border border-gray-300 bg-gary-400 
           checked:border-green-300 focus-visible:outline-none 
           focus-visible:ring-2 focus-visible:ring-gray-900 
           focus-visible:ring-offset-2" type="checkbox"
           >
          <span class="pointer-events-none absolute left-1 top-1
           block h-4 w-4 rounded-full bg-slate-600 transition-all
          duration-200 peer-checked:left-7 peer-checked:bg-green-300">
          </span>
        </div>
      </label>
          
      </div>
          <button
            class="w-full justify-center py-1 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 rounded-md text-white ring-2"
            id="login"
            name="login"
            type="submit"
          >
      Entrar
    </button>
    
  </form>
</div>
