<table class="m-5 bottom-0 w-full mx-auto bg-blue-800 text-gray-200">
  <tr class="text-left border-b border-gray-300">
    <th class="px-4 py-3">Código - Vin</th>
    <th class="px-4 py-3">Odômetro</th>
    <th class="px-4 py-3">Nível de Combustível</th>
    <th class="px-4 py-3">Status</th>
    <th class="px-4 py-3">Lat.</th>
    <th class="px-4 py-3">Long.</th>
  </tr>
  <tr class="bg-blue-700 border-b border-blue-600">
    <td class="px-4 py-3">
      <input type="text" class="bg-white">
    </td>
    <td class="px-4 py-3">Smith</td>
    <td class="px-4 py-3">50</td>
    <td class="px-4 py-3">Male</td>
    <td class="px-4 py-3">50</td>
    <td class="px-4 py-3">Male</td>
  </tr>
  
</table>