<div class="grid place-items-center opacity-90 
            overflow-y-auto overflow-x-hidden fixed 
            justify-center items-center w-full md:inset-0  
            ">
    
    <div class="relative p-4 h-auto w-[50dvw]">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Sistema de dados Ford
                </h3>
                
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4 h-[50dvh]">
                <p class="text-lg leading-relaxed font-bold text-blue-600 dark:text-gray-400">
                    Seja bem vindo(a)!
                </p>
                
            </div>
            
        </div>
    </div>
</div>